<?xml version="1.0"?>
<validation>

  <type assemblyName="WebFormsUtilities.Tests" name="WebFormsUtilities.Tests.TestObjects.TestParticipantClass, WebFormsUtilities.Tests">
    <ruleset name="MessageFromValidator">
      <properties>
        <property name="FirstName">
          <validator negated="false"
                     type="RequiredAttribute" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="MessageFromXML">
      <properties>
        <property name="FirstName">
          <validator negated="false"
                     ErrorMessage="The First Name field cannot be empty."
                     type="RequiredAttribute" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="MessageFromResource">
      <properties>
        <property name="FirstName">
          <validator negated="false"
                     ErrorMessageResourceName="FirstName_ErrorMessage_Test1"
                     ErrorMessageResourceType="WebFormsUtilities.Tests.Properties.Resources, WebFormsUtilities.Tests"
                     type="RequiredAttribute" />
        </property>
      </properties>
    </ruleset>
  </type>
</validation>